.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shared-by {
  margin: 1rem 0;
}

.main-image-container {
  position: relative;
  border-radius: 5px;
  margin: 0 40px;
  overflow: hidden;
  flex: 1;
  align-self: stretch;
}

.main-image {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}


.main-image-full-screen {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}

.inverted {
  color: white;
}

.exit {
  color: white;
  cursor: pointer;
  font-size: xx-large;
  font-weight: bold;
  align-self: flex-start;
  margin: 20px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.title-huge {
  font-size: 4rem;
  font-weight: bold;
}

.description {
  margin: 0 40px;
}

.description-full-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title-background {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  background: black;
  border-radius: 100%;
}